.about {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	background-position: center;
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $white;

	&__h2 {
		margin-bottom: 75px;
	}

	&__p {
		line-height: 20px;
		font-weight: 300;
		letter-spacing: 0.16px;
	}

	&__p1 {
		margin-bottom: 20px;
	}

	&__p2 {
		margin-bottom: 70px;
	}
}

.about__box {
	&-p1 {
		font-size: 48px;
		letter-spacing: 0.48px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	&-span {
		font-size: 24px;
	}

	&-p2 {
		letter-spacing: 0.16px;
		font-weight: 300;
		margin-bottom: 20px;
	}
}

@media (max-width: 1199.98px) {
	.about {
		&__p br {
			display: none;
		}
	}
}

@media (max-width: 991.98px) {
	.about {
		background-position: 80%;

		&__box-p1 {
			font-size: 40px;
		}

		&__box-p2 {
			font-size: 15px;
		}
	}
}

@media (max-width: 767.98px) {
	.about {
		background-position: 15%;
		&__h2 {
			margin-bottom: 30px;
		}

		&__p2 {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 575px) {
	.about {
		text-align: left;

		&__h2 {
			text-align: left;
		}
	}
}