.footer {
	height: 135px;
	background-color: $black;
	display: flex;
	align-items: center;

	&__cont {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__p {
		color: $white;
		transition: $all-03;

		&:hover {
			color: $red;
		}
	}
}

@media (max-width: 767.98px) {
	.footer__p {
		font-size: 13px;
	}
}

@media (max-width: 575.98px) {
	.footer__cont {
		flex-direction: column;
	}

	.footer__p {
		margin-top: 15px;
	}
}